[Unit]
Description=tetra-server
After=network.target

[Service]
Type=simple
User=ec2-user
WorkingDirectory=/home/ec2-user/tetra-server
ExecStart=/home/ec2-user/tetra-server/target/release/tetra-server
Restart=on-failure
RestartSec=5

Environment=HTTP_ADDR=127.0.0.1:8080
Environment=ALLOW_VERSIONS=2.0.0,1.3.0
Environment=CF_TURN_TOKEN_ID=
Environment=CF_TURN_API_TOKEN=

[Install]
WantedBy=multi-user.target
